@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-third: #3d3d3d;
  --transition-speed: 1000ms;
  --cursor-def: url('/src/cursors/cursor_white.png');
  --cursor-active: url('/src/cursors/cursor_active_white.png');
  --cursor-click: url('/src/cursors/cursor_click_white.png');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  background: var(--bg-third);
}

body::-webkit-scrollbar {
  width: 0.5rem;
  cursor: var(--cursor-def), auto;
  cursor: var(--cursor-def), default;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
  cursor: var(--cursor-def), auto;
  cursor: var(--cursor-def), default;
}

body::-webkit-scrollbar-thumb {
  background: #ffae00;
  border-radius: 5px;
  cursor: var(--cursor-def), auto;
  cursor: var(--cursor-def), default;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  height: 96vh;
  background-color: var(--bg-third);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='4' id='a' d='M0-478l-413.96 717h827.92L0-478l-413.96 717h827.92z'/%3E%3C/defs%3E%3Cg transform='scale(0.883)' style='transform-origin:center'%3E%3Cg transform='rotate(48 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-147.2 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23FF0' href='%23a' transform='rotate(-73.6 0 0) scale(0.264)'/%3E%3Cuse stroke='%23fff700' href='%23a' transform='rotate(-64.4 0 0) scale(0.356)'/%3E%3Cuse stroke='%23fff000' href='%23a' transform='rotate(-55.2 0 0) scale(0.448)'/%3E%3Cuse stroke='%23ffe800' href='%23a' transform='rotate(-46 0 0) scale(0.54)'/%3E%3Cuse stroke='%23ffe000' href='%23a' transform='rotate(-36.8 0 0) scale(0.632)'/%3E%3Cuse stroke='%23ffd800' href='%23a' transform='rotate(-27.6 0 0) scale(0.724)'/%3E%3Cuse stroke='%23ffd000' href='%23a' transform='rotate(-18.4 0 0) scale(0.816)'/%3E%3Cuse stroke='%23ffc800' href='%23a' transform='rotate(-9.2 0 0) scale(0.908)'/%3E%3Cuse stroke='%23ffc000' href='%23a'/%3E%3Cuse stroke='%23ffb800' href='%23a' transform='rotate(9.2 0 0) scale(1.092)'/%3E%3Cuse stroke='%23ffb000' href='%23a' transform='rotate(18.4 0 0) scale(1.184)'/%3E%3Cuse stroke='%23ffa700' href='%23a' transform='rotate(27.6 0 0) scale(1.276)'/%3E%3Cuse stroke='%23ff9f00' href='%23a' transform='rotate(36.8 0 0) scale(1.368)'/%3E%3Cuse stroke='%23ff9600' href='%23a' transform='rotate(46 0 0) scale(1.46)'/%3E%3Cuse stroke='%23ff8d00' href='%23a' transform='rotate(55.2 0 0) scale(1.552)'/%3E%3Cuse stroke='%23ff8400' href='%23a' transform='rotate(64.4 0 0) scale(1.644)'/%3E%3Cuse stroke='%23ff7b00' href='%23a' transform='rotate(73.6 0 0) scale(1.736)'/%3E%3Cuse stroke='%23ff7100' href='%23a' transform='rotate(82.8 0 0) scale(1.828)'/%3E%3Cuse stroke='%23ff6700' href='%23a' transform='rotate(92 0 0) scale(1.92)'/%3E%3Cuse stroke='%23ff5d00' href='%23a' transform='rotate(101.2 0 0) scale(2.012)'/%3E%3Cuse stroke='%23ff5200' href='%23a' transform='rotate(110.4 0 0) scale(2.104)'/%3E%3Cuse stroke='%23ff4500' href='%23a' transform='rotate(119.6 0 0) scale(2.196)'/%3E%3Cuse stroke='%23ff3700' href='%23a' transform='rotate(128.8 0 0) scale(2.288)'/%3E%3Cuse stroke='%23ff2400' href='%23a' transform='rotate(138 0 0) scale(2.38)'/%3E%3Cuse stroke='%23F00' href='%23a' transform='rotate(147.2 0 0) scale(2.472)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-position-x: 5rem;
  background-repeat: no-repeat;
  background-size: cover; 
  transition: var(--transition-speed); 
}
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow:hidden;
  z-index: 1;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transition: var(--transition-speed);
}

.nav-item {
  width: 100%;
  transition: var(--transition-speed);
}

.nav-item:last-child {
  margin-top: auto;
  transition: var(--transition-speed);
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
  transition: var(--transition-speed);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  transition: transform 1s ease-in-out;
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.nav-link:hover svg {
  transform: rotate(360deg);
}
.fa-primary {
  color: #00ccff;
}

.fa-secondary {
  color: #336f91;
}

.fa-primary, .fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #18d1ff, 0 0 30px #18d1ff, 0 0 40px #18d1ff, 0 0 55px #18d1ff, 0 0 75px #18d1ff;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #000000;
  --bg-third: #3d3d3d;
  --cursor-def: url('/src/cursors/cursor_white.png');
  --cursor-active: url('/src/cursors/cursor_active_white.png');
  --cursor-click: url('/src/cursors/cursor_click_white.png');
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #4b4b4b;
  --bg-primary: #dddcdc;
  --bg-secondary: #a3a3a3;
  --bg-third: #c2c2c2;
  --cursor-def: url('/src/cursors/cursor_black.png');
  --cursor-active: url('/src/cursors/cursor_active_black.png');
  --cursor-click: url('/src/cursors/cursor_click_black.png');
}
.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}
html, body, nav, main, div{
  cursor: var(--cursor-def), default;
  cursor: var(--cursor-def), auto;
}
.nav-link, .nav-item, a, iframe, button{
  cursor: var(--cursor-active), pointer;
}
a:active {
  cursor: var(--cursor-click), pointer;
}

@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
.animate-in {
  animation: fadeIn 0.5s ease-in-out;
}
.animate-out {
  opacity: 0;
  transition: opacity 1 0.5s ease-in-out;
}
