@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
html, body, main {
    font-family: 'Tilt Neon', sans-serif;
}
.doc {
    color: var(--text-primary);
}
.gap {
    height: 40px;
}
.hr {
    background-color: var(--text-primary);
}
.vastag {
    height: 5px;
    background-color: var(--text-primary);
}
.in {
    width: 90%;
    display: inline-block;
}
.jobb {
    text-align: right;
}
h1 {
    font-size: 300%;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--text-secondary);
}
h4, .low {
    text-transform: uppercase;
}
.dwbt {
    float: right;
}
