@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');
table {
    width: 100%;
    border-collapse: collapse;
    cursor: var(--cursor-def), default;
    background: linear-gradient(90deg, var(--text-primary) 0%, var(--bg-primary) 250%);
}
th, td {
    border: 4px solid var(--bg-secondary);
    padding: 5px;
    border-collapse: collapse;
    font-family: 'Mohave', sans-serif;
}
th {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
td {
    font-size: 20px;
    font-weight: bold;
}
.mpt {
    background-color: var(--bg-third);
    border: none;
    border-bottom: 3px var(--bg-third) solid;
}
.hidden {
    display: none;
}
th, td, table, tr {
    color: var(--bg-primary);
}
main, th, td, table {
    cursor: var(--cursor-def), default;
    cursor: var(--cursor-def), auto;
}
.onoff {
    min-width: 130px;
    height: 40px;
    color: var(--text-secondary);
    padding: 5px 10px;
    font-weight: bold;
    cursor: var(--cursor-def), default;
    cursor: var(--cursor-def), auto;
    transition: all 0.5s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: var(--bg-primary);
    overflow: hidden;
    border: 2px solid #57cc99;
    color: #57cc99;
}
.onoff:hover {
    color: #fff;
    cursor: var(--cursor-active), pointer;
}
.onoff:hover:after {
width: 100%;
cursor: var(--cursor-active), pointer;
}
    .onoff:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #57cc99;
    cursor: var(--cursor-def), auto;
    cursor: var(--cursor-def), default;
}
.onoff:active::after {
    background-color: rgb(0, 255, 255);
    cursor: var(--cursor-click), pointer;
    transition: 0s;
}
