@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');
table {
    border-collapse: collapse;
    width: 100%;
    cursor: var(--cursor-def), default;
    backdrop-filter: blur(12px) saturate(200%);
    -webkit-backdrop-filter: blur(12px) saturate(200%);
    background-color: rgba(255, 174, 0, 0.3);
}
th::selection, td::selection, .tanar::selection, .terem::selection,  .ora::selection, .mpt::selection{
    background-color: #dd8c12;
    color: azure;
}
th, td {
    border: 4px solid var(--bg-secondary);
    padding: 5px;
    border-collapse: collapse;
    font-family: 'Mohave', sans-serif;
}
th {
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}
td {
    font-size: 20px;
    font-weight: bold;
    min-width: 16vw;
}
.mpt {
    text-align: center;
}
#o {
    display: none;
}
th, td, table, tr {
    color: var(--text-secondary);
}
main, th, td, table {
    cursor: var(--cursor-def), default;
    cursor: var(--cursor-def), auto;
}
.onoff {
    min-width: 130px;
    height: 40px;
    color: var(--text-secondary);
    padding: 5px 10px;
    font-weight: bold;
    cursor: var(--cursor-def), default;
    cursor: var(--cursor-def), auto;
    transition: all 0.5s ease-in;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #000;
    overflow: hidden;
    border: 2px solid #00ff91;
    color: #00ff91;
}
.onoff:hover {
    color: #000000;
    cursor: var(--cursor-active), pointer;
}
.onoff:hover:after {
width: 100%;
cursor: var(--cursor-active), pointer;
}
    .onoff:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #00ff91;
    cursor: var(--cursor-def), auto;
    cursor: var(--cursor-def), default;
}
.onoff:active::after {
    background-color: rgb(0, 255, 255);
    cursor: var(--cursor-click), pointer;
    transition: 0s;
}
.terem {
    display: none;
}
.tanar {
    display: none;
    background-color: #0000006c;
}
td:hover .terem {
    display: inline;
}
td:hover .ora {
    display: none;
}
td:hover .tanar {
    display: none;
}
td:active .terem, td:active .ora {
    display: none;
}
td:active .tanar {
    display: inline;
    
}
td:hover  {
    color: rgba(255, 255, 255, 0.5);
    background-color: #0000006c;
    text-shadow:
      0 0 7px #ff0800,
      0 0 10px #ff0800,
      0 0 21px #ff0800,
      0 0 42px #ff0800,
      0 0 82px #ff0800,
      0 0 92px #ff0800,
      0 0 102px #ff0800,
      0 0 151px #ff0800;
      text-align: center;
}
td:active {
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 
    3px 3px 20px #e5ff00,
    -2px 1px 30px #e5ff00;
}
th:hover {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 
    3px 3px 20px #e5ff00,
    -2px 1px 30px #e5ff00;
    background-color: #0000006c;
}
