.container {
  display: flex;
}
.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--text-secondary);
}
.grid div {
  height: 20px;
  width: 20px;
}
.tetromino {
  background-color: blue;
}
.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--text-secondary);
}
.mini-grid div {
  height: 20px;
  width: 20px;
}
h3 {
  color: var(--text-primary);
}
#score {
  font-size: 2em;
  color: red;
}
#start-button {
  background-color: var(--text-primary);
  color: var(--bg-primary);
}
